body {
  font-family: "Edu TAS Beginner";
}

img {
  width: 100%;
}

.header-page {
  background: url("../img/wall.png");
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 2rem 0;
}

.main-content {
  background: url("../img/cork.png");
}

.main-content .card {
  position: relative;
}
.main-content .card:hover {
  transform: rotate(30deg);
  z-index: 10;
}

.main-content .card:hover .pin {
  display: none;
}

.card .pin {
  position: absolute;
  width: 2rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .card-body {
  padding: 1rem 0;
}
